.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 500px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 0;
    right: 0;
    top: 5px;
    margin: auto;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.CloseButtonIcon {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .Modal {
        width: 90%;
    }
}

@media (max-height: 500px) {
    .ModalForm {
        height: 90%;
    }
}